<h2>Welcome to Flatiron Open Orders</h2>

<ol>
  <li>
    Western Widgets
    <br>
    20 widgets ordered
  </li>  
  
  <li>
    Eastern Widgets
    <br>
    40 widgets ordered
  </li>  
  
  <li>
    Northern Widgets
    <br>
    10 widgets ordered
  </li>
</ol>